<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ideal.wf.dao.WorkflowBriefMapper">
	<resultMap id="workflowbrief" type="cn.ideal.wf.model.WorkflowBrief" />			
	
	<select id="findAll" resultMap="workflowbrief">
		select * from workflow_brief 
	</select>
		
	<select id="find" resultMap="workflowbrief" parameterType="java.util.Map">
		select * from workflow_brief where bizId=#{bizId,jdbcType=DECIMAL} and wfId = #{wfId,jdbcType=DECIMAL}
	</select>
	
	<select id="findDoingFlow" resultMap="workflowbrief" parameterType="java.util.Map">
		select * from workflow_brief where bizId=#{bizId} and wfId = #{wfId} and finishedDate is null
	</select>
	
	<insert id="addFlowBrief" parameterType="cn.ideal.wf.model.WorkflowBrief">
		insert into workflow_brief(
			bizId,flowId,stepId,nodeName,dispatchUserId,unitId,createdDate,modifiedDate,finishedDate,wfId,status
		)
		values(
			#{bizId,jdbcType=DECIMAL},
			#{flowId,jdbcType=DECIMAL},
			#{stepId,jdbcType=DECIMAL},
			#{nodeName,jdbcType=VARCHAR},
			#{dispatchUserId,jdbcType=DECIMAL},
			#{unitId,jdbcType=DECIMAL},
			#{createdDate,jdbcType=TIMESTAMP},
			#{modifiedDate,jdbcType=TIMESTAMP},
			#{finishedDate,jdbcType=TIMESTAMP},
			#{wfId,jdbcType=DECIMAL},
			#{status,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="updateFlowBrief" parameterType="cn.ideal.wf.model.WorkflowBrief">
		update workflow_brief set 
			modifiedDate=#{modifiedDate,jdbcType=TIMESTAMP},
			flowId=#{flowId,jdbcType=DECIMAL},
			stepId=#{stepId,jdbcType=DECIMAL},
			nodeName=#{nodeName,jdbcType=VARCHAR},
			dispatchUserId=#{dispatchUserId,jdbcType=DECIMAL},
			unitId=#{unitId,jdbcType=DECIMAL},
			actionName=#{actionName,jdbcType=VARCHAR},
			finishedDate=#{finishedDate,jdbcType=TIMESTAMP}
		<where>		
			bizId=#{bizId,jdbcType=DECIMAL}	
		and wfId = #{wfId,jdbcType=DECIMAL}
		</where>				
	</update>
	
	<update id="endFlowBrief" parameterType="cn.ideal.wf.model.WorkflowBrief">
		update workflow_brief set 			
			finishedDate=#{finishedDate,jdbcType=TIMESTAMP}
			<if test="actionName != null">
			,actionName=#{actionName,jdbcType=VARCHAR}
			</if>
			<if test="status != null">
			,status=#{status,jdbcType=VARCHAR}
			</if>			
		<where>		
			bizId=#{bizId,jdbcType=DECIMAL}
		and wfId = #{wfId,jdbcType=DECIMAL}			
		</where>				
	</update>
		
	<update id="updateStatusFlowBrief" parameterType="cn.ideal.wf.model.WorkflowBrief">
		update workflow_brief set 			
			status=#{status,jdbcType=VARCHAR}
		<where>		
			bizId=#{bizId,jdbcType=DECIMAL}
		and wfId = #{wfId,jdbcType=DECIMAL}			
		</where>				
	</update>
	
	<update id="updateDispatchedUser" parameterType="cn.ideal.wf.model.WorkflowBrief">
		update workflow_brief set 			
			dispatchUserId=replace(dispatchUserId,#{oldDispatchUserId,jdbcType=VARCHAR},#{dispatchUserId,jdbcType=VARCHAR})
		<where>		
			stepId=#{stepId,jdbcType=DECIMAL}		
		</where>				
	</update>
</mapper>
