<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ideal.wf.dao.WorkflowFlowMapper">
	<resultMap id="workflowflow" type="cn.ideal.wf.model.WorkflowFlow" />
	<resultMap id="workflowwithstep" type="cn.ideal.wf.model.WorkflowFlow" >
		<id column="workflowId" property="workflowId" jdbcType="NUMERIC" />
		<association property="workflowSteps" column="workflowId" select="cn.ideal.wf.dao.WorkflowStepMapper.findAllByFlowId" />
	</resultMap>			
	
	<select id="findAll" resultMap="workflowflow" parameterType="java.util.Map">
		select * from workflow_flow where bizId = #{bizId} and wfId = #{wfId}
	</select>
		
	<select id="find" resultMap="workflowflow" parameterType="java.lang.Long">
		select * from workflow_flow where flowId=#{flowId}
	</select>
		
	<select id="findDoingFlow" resultMap="workflowwithstep" parameterType="java.util.Map">
		select * from workflow_flow where bizId=#{bizId} and wfId = #{wfId} and finishedDate is null
	</select>
	
	<insert id="addFlow" parameterType="cn.ideal.wf.model.WorkflowFlow">
		<selectKey resultType="java.lang.Long" keyProperty="flowId" order="BEFORE">
			select sq_flowId.nextval from dual
		</selectKey>
		insert into workflow_flow(
			flowId,flowParentId,nodeName,actionName,status,createdDate,finishedDate,timeDiffer,bizId,wfId
		)
		values(
			#{flowId,jdbcType=DECIMAL},
			#{flowParentId,jdbcType=DECIMAL},
			#{nodeName,jdbcType=VARCHAR},
			#{actionName,jdbcType=VARCHAR},
			#{status,jdbcType=VARCHAR},
			#{createdDate,jdbcType=TIMESTAMP},
			#{finishedDate,jdbcType=TIMESTAMP},
			#{timeDiffer,jdbcType=DECIMAL},
			#{bizId,jdbcType=DECIMAL},
			#{wfId,jdbcType=DECIMAL}
		)
	</insert>
	
	<update id="endFlow" parameterType="cn.ideal.wf.model.WorkflowFlow">
		update workflow_flow set 
			finishedDate=#{finishedDate},
			actionName=#{actionName},
			status=#{status}
		<where>
			<if test="flowId != null">
				and flowId=#{flowId}
			</if>
			<if test="bizId != null">
				and bizId=#{bizId}
				and wfId = #{wfId}
			</if>
		</where>				
	</update>
	
	<select id="findWorkflowUsers" resultType="cn.ideal.wf.model.WorkflowUser" parameterType="java.lang.Long">
		select distinct wfs.dispatchUserId as userId,wfs.dispatchUserName as userName,wfs.unitId,wfs.unitName 
		  from workflow_step wfs 
         where flowId = #{flowId}
	</select>
	
	<select id="findWorkflowWithSteps" resultMap="workflowwithstep" parameterType="java.util.Map">
		select * from workflow_flow where bizId=#{bizId} and wfId = #{wfId}
	</select>
	
	<!-- 获取前一个流程 -->
	<select id="findPrevFlow" resultMap="workflowflow" parameterType="java.util.Map">
		select * from workflow_flow 
		 where flowId in (
			select flowParentId 
			  from workflow_flow 
			 where bizId = #{bizId} 
			   and wfId = #{wfId} 
			   and finishedDate is null
		)
	</select>
	
	<!-- 获取发起人流程 -->
	<select id="findSenderFlow" resultMap="workflowflow" parameterType="java.util.Map">
		select * from workflow_flow 
		 where flowId in (
			select min(flowId) 
			  from workflow_flow 
			 where bizId = #{bizId} 
			   and wfId = #{wfId}
		)
	</select>
</mapper>
