<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ideal.wf.dao.WorkflowNodeMapper">
	<resultMap id="workflownode" type="cn.ideal.wf.model.WorkflowNode" >
		<id column="nodeId" property="nodeId" jdbcType="NUMERIC" />
		<association property="role" column="nodeId" select="findRole" />
		<association property="users" column="nodeId" select="findUsers" />
		<association property="preNodes" column="nodeId" select="findPreNode" />
		<association property="sufNodes" column="nodeId" select="findSufNode" />
		<association property="action" column="nodeId" select="findAction" />
		<association property="buttons" column="nodeId" select="findButtons" />
	</resultMap>
	<resultMap id="flowchatnode" type="cn.ideal.wf.model.FlowChatNode" >
		<id column="nodeId" property="nodeId" jdbcType="NUMERIC" />
		<association property="role" column="nodeId" select="findRole" />
		<association property="users" column="nodeId" select="findUsers" />	
		<association property="preNodes" column="nodeId" select="findFlowChatPreNode" />
		<association property="sufNodes" column="nodeId" select="findFlowChatSufNode" />
	</resultMap>			
	
	<select id="findAll" resultMap="workflownode" parameterType="java.lang.Long">
		select * from workflow_node where wfId=#{wfId} order by nodeId
	</select>
	
	<select id="findAllForFlowChat" resultMap="flowchatnode" parameterType="java.lang.Long">
		select * from workflow_node where wfId=#{wfId} order by nodeId
	</select>
	
	<select id="find" resultMap="workflownode" parameterType="java.lang.Long">
		select * from workflow_node where nodeId=#{nodeId}
	</select>
	
	<select id="findByNodeName" resultMap="workflownode" parameterType="java.util.Map">
		select * from workflow_node where nodeName=#{nodeName} and wfId = #{wfId}
	</select>
		
	<select id="findNodeUsers" resultType="cn.ideal.wf.model.WorkflowUser" parameterType="java.lang.Long">
			select * from workflow_node_user where nodeId in 
				(select nodeId from workflow_node 
				  where nodeId =#{nodeId}
				    and uType = '用户'
				 )
	</select>
	
	<select id="findNodeUsersByNodeName" resultType="cn.ideal.wf.model.WorkflowUser" parameterType="java.util.Map">
			select * from workflow_node_user where nodeId in 
				(select nodeId from workflow_node 
				  where nodeName =#{nodeName}
				    and wfId = #{wfId}
				    and uType = '用户'
				 )
	</select>	
	
	<select id="findNextNodes" resultMap="workflownode" parameterType="cn.ideal.wf.model.WorkflowNode">
		select wn.* from workflow_node wn		
		where wn.nodeId in (
			select suf_nodeId from workflow_node_nodes where nodeId in (
				select nodeId from workflow_node 
				<where>
						<if test="nodeId != null">
							AND nodeId = #{nodeId}
						</if>
						<if test="nodeName != null">
							AND nodeName = #{nodeName}				  
						</if>
						<if test="nodeName != null">
				  			AND wfId = #{wfId}
						</if>
				</where> 
					
				)
		)
	</select>
		
	<select id="findRole" resultType="cn.ideal.wf.model.WorkflowRole" parameterType="java.lang.Long">
		select * from workflow_node_role
		 where nodeId = #{nodeId}
	</select>
	
	<select id="findUsers" resultType="cn.ideal.wf.model.WorkflowUser" parameterType="java.lang.Long">
		select * from workflow_node_user
		 where nodeId = #{nodeId}
	</select>
	
	<!-- 获取前置节点 -->
	<select id="findPreNode" resultType="cn.ideal.wf.model.WorkflowNode" parameterType="java.lang.Long">
		select n.*,a.type from workflow_node n
		inner join workflow_node_nodes a on n.nodeId = a.nodeId 
		 where a.suf_nodeId = #{nodeId}
		   and n.status != '无效'
	</select>
	
	<!-- 获取后置节点 -->
	<select id="findSufNode" resultType="cn.ideal.wf.model.WorkflowNode" parameterType="java.lang.Long">
		select n.*,a.type from workflow_node n
		inner join workflow_node_nodes a on a.suf_nodeId = n.nodeId 
		 where a.nodeId = #{nodeId}
		   and n.status != '无效'
	</select>
	
	<!-- 获取流程图前置节点 -->
	<select id="findFlowChatPreNode" resultType="cn.ideal.wf.model.FlowChatNode" parameterType="java.lang.Long">
		select n.* from workflow_node n
		inner join workflow_node_nodes a on n.nodeId = a.nodeId 
		 where a.suf_nodeId = #{nodeId}
		   and n.status != '无效'
	</select>
	
	<!-- 获取流程图后置节点 -->
	<select id="findFlowChatSufNode" resultType="cn.ideal.wf.model.FlowChatNode" parameterType="java.lang.Long">
		select n.* from workflow_node n
		inner join workflow_node_nodes a on a.suf_nodeId = n.nodeId 
		 where a.nodeId = #{nodeId}
		   and n.status != '无效'
	</select>
	
	
	<!-- 获取节点的流程操作 -->
	<select id="findAction" resultType="cn.ideal.wf.model.WorkflowAction" parameterType="java.lang.Long">
		select a.* from workflow_action a
		inner join workflow_node_action b on a.actionCodeName = b.actionCodeName
		 where b.nodeId = #{nodeId}
		   and b.type= '流程'
	</select>
	
	<select id="findButtons" resultType="cn.ideal.wf.model.WorkflowAction" parameterType="java.lang.Long">
		select a.* from workflow_action a
		inner join workflow_node_action b on a.actionCodeName = b.actionCodeName
		 where b.nodeId = #{nodeId}
		   and b.type= '行为'
	</select>
	
	<select id="findButtonsByNodeName" resultType="cn.ideal.wf.model.WorkflowAction" parameterType="java.util.Map">
		select a.* from workflow_action a
		inner join workflow_node_action b on a.actionCodeName = b.actionCodeName
		inner join workflow_node c on c.nodeId = b.nodeId
		 where c.nodeName = #{nodeName}
		   and c.wfId = #{wfId}
		   and b.type= '行为'
	</select>
	
	<insert id="save" parameterType="cn.ideal.wf.model.WorkflowNode">
		<selectKey resultType="java.lang.Long" keyProperty="nodeId" order="BEFORE">
			select sq_nodeId.nextval from dual
		</selectKey>
		insert into workflow_node(
			nodeId,nodename,timeLimit,uType,nType,status,createdDate,modifiedDate,wfId
		)
		values(
			#{nodeId},
			#{nodeName,jdbcType=VARCHAR},
			#{timeLimit,jdbcType=DECIMAL},
			#{uType,jdbcType=VARCHAR},
			#{nType,jdbcType=VARCHAR},
			#{status,jdbcType=VARCHAR},
			#{createdDate,jdbcType=TIMESTAMP},
			#{modifiedDate,jdbcType=TIMESTAMP},
			#{wfId,jdbcType=DECIMAL}
		)
	</insert>
	
	<insert id="saveNodeNodes" parameterType="cn.ideal.wf.model.WorkflowNode">
		insert into workflow_node_nodes(
			nodeId,suf_nodeId,type,createdDate
		)
		values
		<foreach collection="sufNodes" item="item" index="index" separator=",">				
		(
			#{nodeId,jdbcType=DECIMAL},
			#{item.nodeId,jdbcType=DECIMAL},
			#{item.type,jdbcType=VARCHAR},			
			#{createdDate,jdbcType=DECIMAL}
		)
		</foreach>
	
	</insert>
	
	<!-- 保存节点按钮 -->
	<insert id="saveNodeAction" parameterType="cn.ideal.wf.model.WorkflowNode">
		insert into workflow_node_action(
			nodeId,actionCodeName,type,createdDate
		)
		values(
			#{nodeId},
			#{action.actionCodeName},
			'流程',		
			#{createdDate}
		)
		
	</insert>
		
	<!-- 保存节点按钮 -->
	<insert id="saveNodeButton" parameterType="cn.ideal.wf.model.WorkflowNode">
		insert into workflow_node_action(
			nodeId,actionCodeName,type,createdDate
		)
		values
		<foreach collection="buttons" item="item" index="index" separator=",">				
		(
			#{nodeId},
			#{item.actionCodeName},
			'行为',		
			#{createdDate}
		)
		</foreach>		
	</insert>
	
	<insert id="saveUser" parameterType="cn.ideal.wf.model.WorkflowNode">
		insert into workflow_node_user(
			nodeId,userId,userName,unitId,unitName,createdDate
		)
		values
		<foreach collection="users" item="item" index="index" separator=",">				
		(
			#{nodeId,jdbcType=DECIMAL},
			#{item.userId,jdbcType=DECIMAL},
			#{item.userName,jdbcType=VARCHAR},
			#{item.unitId,jdbcType=DECIMAL},
			#{item.unitName,jdbcType=VARCHAR},
			#{createdDate,jdbcType=DECIMAL}
		)
		</foreach>
	
	</insert>
	
	<insert id="saveRole" parameterType="cn.ideal.wf.model.WorkflowNode">
		insert into workflow_node_role(
			nodeId,roleId,roleName,unitId,unitName,createdDate
		)
		values(
			#{nodeId,jdbcType=DECIMAL},
			#{role.roleId,jdbcType=DECIMAL},
			#{role.roleName,jdbcType=VARCHAR},
			#{org.unitId,jdbcType=DECIMAL},
			#{org.unitName,jdbcType=VARCHAR},
			#{createdDate,jdbcType=DECIMAL}
		)
	</insert>
</mapper>
