<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ideal.wf.dao.WorkflowTableMapper">			
	<resultMap id="wftablebrief" type="cn.ideal.wf.model.WorkflowTableBrief" />
	<resultMap id="wftableelement" type="cn.ideal.wf.model.WorkflowTableElement" />
	<resultMap id="wftablesummary" type="cn.ideal.wf.model.WorkflowTableSummary" />				
	<resultMap id="wftablelayout" type="cn.ideal.wf.model.WorkflowTableLayout" />
	
	<select id="find" resultMap="wftablebrief" parameterType="java.lang.Long">
		select * from table_brief where tbId=#{tbId}
	</select>
	
	<select id="findAll" resultMap="wftablebrief" >
		select * from table_brief where status = '有效'
	</select>
	
	<select id="findTableFields" resultMap="wftableelement" parameterType="java.lang.Long">
		select a.*,b.fieldName from table_element a
		  left join element_library b on a.emId = b.emId 
		 where a.tbId = #{tbId}		 
		   and a.newFieldType not in ( '标签','子表','组件','列表')
		 union all
		select a.*,b.fieldName from table_element a
		  left join element_library b on a.emId = b.emId 
		 where a.tbId in (select stbId from table_element where tbId = #{tbId} and newFieldType ='组件')
		   and a.newFieldType not in ( '标签','子表','组件','列表')
	</select>
	
	<select id="findTableFieldNames" resultType="java.lang.String" parameterType="java.lang.Long">
		select b.fieldName from table_element a
		  left join element_library b on a.emId = b.emId 
		 where a.tbId = #{tbId}		 
		   and a.newFieldType not in ( '标签','子表','组件','列表')
		union all
		select a.newhiddenfieldName as fieldName from table_element a		  
		 where a.tbId = #{tbId}		 
		   and a.newhiddenfieldName is not null
		 union all
		select b.fieldName from table_element a
		  left join element_library b on a.emId = b.emId 
		 where a.tbId in (select stbId from table_element where tbId = #{tbId} and newFieldType ='组件')
		   and a.newFieldType not in ( '标签','子表','组件','列表')
	</select>	
	
	<select id="findElementsOnList" resultMap="wftableelement" parameterType="java.lang.Long">
		select a.* ,b.fieldName from table_element a
		inner join element_library b on a.emId = b.emId
		 where a.tbId = #{tbId} 
		   and a.list = '有效'
	  order by seq
	</select>	
	
	<update id="synchTableSummary" parameterType="cn.ideal.wf.model.WorkflowTableSummary">
		update table_summary set 			
			modifiedDate=#{modifiedDate},
			action=#{action}
			<if test="curUserId != null">
			,curUserId=#{curUserId}
			</if>
			<if test="curUserName != null">
			,curUserName=#{curUserName}
			</if>
		<where>
			bizId=#{bizId}
		and wfId=#{wfId}
		</where>				
	</update>
	<update id="endTableSummary" parameterType="cn.ideal.wf.model.WorkflowTableSummary">
		update table_summary set 
			modifiedDate=#{modifiedDate},			
			finishedDate=#{finishedDate},
			action=#{action}
		<where>
			bizId=#{bizId}
		and wfId=#{wfId}
		</where>				
	</update>
	
	<select id="findSubTable" resultMap="wftablebrief" parameterType="java.util.Map">
		select * from table_brief where tbId in (select stbId from table_layout where tbId = #{tbId} and scope = #{scope})
	</select>
	
	<select id="findTableAllElements" resultMap="wftableelement" parameterType="java.util.Map">
		select c.name as tableName,1 as readOnly,a.*,b.labelName,b.fieldName from table_element a
		 left join element_library b on a.emId = b.emId		 
		 inner join table_brief c on c.tbId = a.tbId 
		 where a.tbId = #{tbId}
		 <if test="scope != null">
		   and a.scope = #{scope}
		 </if> 
		 order by a.seq
	</select>
	
	<select id="findTableAllElementsWithWorkflow" resultMap="wftableelement" parameterType="java.util.Map">
		select c.name as tableName,(case when d.id is not null then 0 else 1 end) as readOnly,
     		   d.required,a.*,b.labelName,b.fieldName from table_element a
		 left join element_library b on a.emId = b.emId
		 left join workflow_table_element d on d.id = a.id and d.wfId = #{wfId} and d.nodeName = #{nodeName}		
		 inner join table_brief c on c.tbId = a.tbId 
		 where a.tbId = #{tbId}		      		   
		 <if test="scope != null">
		   and a.scope = #{scope}
		 </if> 
		 order by a.seq
	</select>
	
	<select id="findTableLayoutWithScope" resultMap="wftablelayout" parameterType="java.util.Map">
		select * from table_layout 
		 where tbId=#{tbId} and scope=#{scope}
	</select>
	
	<select id="findTableLayout" resultMap="wftablelayout" parameterType="java.util.Map">
		select * from table_layout 
		 where tbId=#{tbId} order by scope desc 
	</select>
	
	<select id="findByWfId" resultMap="wftablebrief" parameterType="java.lang.Long">
		select a.* from table_brief a 
		where a.wfId=#{wfId}
	</select>
	
	<select id="findAllSubTables" resultMap="wftablebrief" parameterType="java.lang.Long">
		select * from table_brief where tbId in (select stbId from table_layout where tbId = #{tbId})
		union
		select * from table_brief where tbId in (select stbId from table_element where tbId = #{tbId} and newFieldType='子表')
	</select>
	
	<select id="findAllBlindTable" resultMap="wftablebrief" >
		select * from table_brief where status = '有效' and template = '表'
	</select>	
</mapper>
