<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ideal.wf.dao.WorkflowMapper">
	<resultMap id="workflow" type="cn.ideal.wf.model.Workflow" />			
	
	<insert id="save" useGeneratedKeys="true" keyProperty="wfId" parameterType="cn.ideal.wf.model.Workflow">
		insert into workflow(
			wfName,status,createdDate
		)
		values(
			#{wfName},			
			#{status},
			#{createdDate}
		)
	</insert>
		
	<update id="update" parameterType="cn.ideal.wf.model.Workflow">
		update workflow set wfName = #{wfName} where wfId = #{wfId}
	</update>
	
	<select id="findAPage" resultMap="workflow" parameterType="java.util.Map">
		select * from workflow	order by wfId 
		<if test="recordNumber != null ">
			LIMIT #{recordNumber},#{pageSize}
		</if>	
	</select>
	
	<select id="findAll" resultMap="workflow">
		select * from workflow			
	</select>
</mapper>
