<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ideal.wf.dao.WorkflowStepMapper">
	<resultMap id="workflowstep" type="cn.ideal.wf.model.WorkflowStep" />			
	
	<select id="findAll" resultMap="workflowstep" parameterType="java.lang.Long">
		select wfs.* from workflow_step wfs
		where wfs.flowId in (select flowId from workflow where bizId = #{bizId})
	</select>
		
	<select id="find" resultMap="workflowstep" parameterType="java.lang.Long">
		select * from workflow_step where stepId=#{stepId}
	</select>
	
	<insert id="addFlowStep" useGeneratedKeys="true" keyProperty="stepId" parameterType="cn.ideal.wf.model.WorkflowStep">
		insert into workflow_step(
			flowId,dispatchUserId,dispatchUserName,unitId,unitName,actionName,status,
			createdDate,finishedDate,timeDiffer,serial,executeUserId,executeUserName
		)
		values(
			#{flowId},
			#{dispatchUserId},
			#{dispatchUserName},
			#{unitId},
			#{unitName},
			#{actionName},
			#{status},
			#{createdDate},
			#{finishedDate},
			#{timeDiffer},
			#{serial},
			#{executeUserId},
			#{executeUserName}
		)
	</insert>	
	
	<update id="endFlowStep" parameterType="cn.ideal.wf.model.WorkflowStep">
		update workflow_step set 
			finishedDate=#{finishedDate},
			actionName=#{actionName},
			status=#{status},
			executeUserId = #{executeUserId},
			executeUserName = #{executeUserName}	
		<where>
			<if test="flowId != null">
				and flowId=#{flowId}
			</if>
			<if test="stepId != null">
				and stepId=#{stepId}
			</if>
		</where>		
		
	</update>
	
	<select id="findAllByFlowId" resultMap="workflowstep" parameterType="java.lang.Long">
		select wfs.* from workflow_step wfs
		where wfs.flowId = #{flowId}
	</select>	
	
	<update id="setWorkflowStepUser" parameterType="cn.ideal.wf.model.WorkflowStep">
		update workflow_step set 
			dispatchUserId=#{dispatchUserId},
			dispatchUserName=#{dispatchUserName},
			unitId=#{unitId},
			unitName=#{unitName}
		<where>						
			stepId=#{stepId}			
		</where>				
	</update>
	
	<select id="findWrokflowStep" resultMap="workflowstep" parameterType="java.util.Map">
		select wfs.* from workflow_step wfs
		inner join workflow_flow wf on wf.flowId = wfs.flowId
		where wf.bizId = #{bizId}
		  <if test="nodeName != null">
		  and wf.nodeName = #{nodeName}
		  </if>
		  <if test="userId != null">
		  and wfs.dispatchUserId = #{userId}
		  </if>
		  <if test="unitId != null">
		  and wfs.unitId = #{unitId}
		  </if>
		order by createdDate desc
		limit 1
	</select>
</mapper>
