<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ideal.wf.dao.WorkflowWFMapper">
	
	<select id="find" resultType="cn.ideal.wf.model.Workflow" parameterType="java.lang.Long">
		select * from workflow where wfId = #{wfId}			
	</select>
		
	<select id="findHavingBindTable" resultType="cn.ideal.wf.model.Workflow">
		select * from workflow a
		where a.wfId in (select wfId from table_brief where wfId is not null)
	</select>
</mapper>
