<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ideal.cf.repository.OrgMapper">
    <resultMap id="org" type="cn.ideal.cf.model.CFOrg" autoMapping="true" />        
     
    <select id="findOrgs" resultMap="org">
        SELECT so.orgId,so.orgName,so1.orgName as currentOrgName from sys_org so 
        inner join sys_org so1 on so.belongedOrgId = so1.orgId  
        where so.orgName like '%'||#{orgName}||'%' 
    </select>
    
</mapper>
