<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ideal.wfpf.dao.SysMapper">
	<resultMap id="sys" type="cn.ideal.wfpf.model.SysConfiguration" />
	
	<select id="findAll" resultMap="sys" >
		select * from sys_configuration		
	</select>
		
</mapper>
