<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ideal.wfpf.dao.WorkflowMapper">
	<resultMap id="wfpfworkflow" type="cn.ideal.wfpf.model.WFPFWorkflow" >
		<id column="wfId" property="wfId" jdbcType="NUMERIC" />	
		<association property="tbLst" column="wfId" select="cn.ideal.wfpf.dao.TableMapper.findByWfId" />
	</resultMap>		
	
	<insert id="save" parameterType="cn.ideal.wfpf.model.WFPFWorkflow">
		<selectKey resultType="java.lang.Long" keyProperty="wfId" order="BEFORE">
			select sq_wfId.nextval from dual
		</selectKey>
		insert into workflow(
			wfId,wfName,status,createdDate
		)
		values(
			#{wfId},
			#{wfName,jdbcType=VARCHAR},			
			#{status,jdbcType=VARCHAR},
			#{createdDate,jdbcType=TIMESTAMP}
		)
	</insert>
		
	<update id="update" parameterType="cn.ideal.wfpf.model.WFPFWorkflow">
		update workflow set 
			<if test="wfName != null">
				wfName = #{wfName,jdbcType=VARCHAR} 
			</if>
			<if test="tbId != null">
				tbId = #{tbId,jdbcType=DECIMAL} 
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR} 
			</if>
			where wfId = #{wfId,jdbcType=DECIMAL}
	</update>
	
	<update id="removeBinding" parameterType="java.lang.Long">
		update workflow set 			
			tbId = null 
			where wfId = #{wfId}
	</update>
	
	<select id="findAPage" resultMap="wfpfworkflow" parameterType="java.util.Map">
		<if test="recordLastNumber != null">
			SELECT *
			FROM  (
			   SELECT a.*, rownum rn
			   FROM (
		</if>
			      select * from workflow order by wfId
		<if test="recordLastNumber != null">
			   )a
			   WHERE rownum <![CDATA[ <= ]]>  #{recordLastNumber}
			)
			WHERE  rn <![CDATA[ >= ]]>  #{recordNumber}
		</if>		
	</select>
	
	<select id="find" resultType="cn.ideal.wfpf.model.WFPFWorkflow" parameterType="java.lang.Long">
		select * from workflow where wfId = #{wfId}			
	</select>
	
	<select id="findAll" resultType="cn.ideal.wfpf.model.WFPFWorkflow">
		select * from workflow			
	</select>
		
	<select id="findAllBlindTable" resultType="cn.ideal.wfpf.model.WFPFWorkflow">
		select * from workflow	where tbId is not null;		
	</select>
	
	<delete id="delete" parameterType="java.lang.Long">
		delete from workflow 
		<where>		
		      wfId=#{wfId}		  	
		</where>
	</delete>

	<delete id="deleteTableElementOnNode" parameterType="java.lang.Long">
		delete from workflow_table_element where wfId = #{wfId}			
	</delete>
</mapper>
