html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  line-height: 30px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align:left;
}

body > .container {
  padding: 60px 15px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
.mt-5, .my-5 {
    margin-top: 1rem!important;
}
#content { 
  overflow:auto; 
  width: 100%;   
} 

#left, #right { 
  width: 40%; 
  margin:5px; 
  padding: 1em; 
  background: white; 
} 

#left  { float:left;  }
#right { float:right;  margin-bottom: 0px; } 


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff3b00;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(241,9,9,.25);
}

.form-control-green {
    /* display: block; */
    width: auto;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #28a745;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #28a745;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-green:focus {
    color: #495057;
    background-color: #fff;
    border-color: #28a745;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(40,167,69,1);
}
.login-centered{
 margin:0 auto;
 width:300px;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 0rem;
    font-size: 1.05rem;
    line-height: 1.5;
    border-radius: .3rem;
}
.btn-primary {
    color: #fff;
    width:20%;
    background-color:#ff3b00;
    border-color:#ff3b00;
    line-height: 0.8;
}
.btn-primary:hover {
    color: #fff;
    background-color: #ff3b00;
    border-color: #ff3b00;
}

.btn-primary-dialog {
    color: #fff;
    width:20%;
    background-color: #46a70a;
    border-color: #46a70a;
    line-height: 0.8;
}

.line{
	overflow:auto;
	max-width: 1110px;
	width: 100%;
	height: 0px;
	border-bottom: 3px solid #10d63d;
	box-shadow: 1px 6px 4px #b4c3c0;
	position: absolute;
}

.line-table{
	overflow:auto;	
	width: 76%;
	height: 5px;
    border-bottom: 4px solid #10d63d;
    box-shadow: 1px 1px 5px #b4c3c0;
	position: absolute;
}

.line-gap-table{
	overflow:auto;
	width: 95%;
	height: 12px;
	margin-right:2%;
	margin-left:2%;
	border-bottom: 2px solid #39e20f;
	box-shadow: 0px 2px 0px #e3efe0;
	position: absolute;
}
.draw{
	overflow:auto;	
	width: 76%;	
	height: 70%;	
	box-shadow: 0px 2px 2px #2ef90a;
	position: absolute;
}

.form-control-one-line {
    /* display: block; */
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-one-line:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(158,159,160,1);
}

.mask{
	height:60%; 
	width:40%; 
	position:fixed; 
	_position:absolute; 
	top:80px; 
	margin-left: 150px;
	z-index:1000; 
} 
.opacity{ 
	opacity:1; 
	filter: alpha(opacity=30); 
	background-color:#ebeaef;
	box-shadow: 1px 6px 4px #6f6c6a; 
} 

.circle-text {
	display: table-cell;
	height: 40px; /*change this and the width
	for the size of your initial circle*/
	width: 90px;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	/*make it pretty*/
	background: #ec0a0a;
	color: #fff;
	font: 18px "josefin sans", arial; /*change this
	for font-size and font-family*/
	box-shadow: 1px 4px 4px #6f6c6a; 
}

.circle-green-text {
	display: table-cell;
	height: 40px; /*change this and the width
	for the size of your initial circle*/
	width: 80px;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	/*make it pretty*/
	background: #28a745;
	color: #fff;
	font: 18px "josefin sans", arial; /*change this
	for font-size and font-family*/
	box-shadow: 1px 4px 4px #6f6c6a; 
}

.circle-blue-text {
	display: table-cell;
	height: 40px; /*change this and the width
	for the size of your initial circle*/
	width: 80px;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	/*make it pretty*/
	background: #007bff;
	color: #fff;
	font: 18px "josefin sans", arial; /*change this
	for font-size and font-family*/
	box-shadow: 1px 4px 4px #6f6c6a; 
} 
.circle-dotted-text {
	display: table-cell;
	height: 40px; /*change this and the width
	for the size of your initial circle*/
	width: 80px;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	/*make it pretty*/
	background: #727d7d;
	color: #fff;
	font: 18px "josefin sans", arial; /*change this
	for font-size and font-family*/
	box-shadow: 1px 4px 4px #6f6c6a; 
}
.popup{
	display: none; 
	position: absolute; 
	left: 100px; 
	top: 50px; 
	border: solid #d3ccda 1px; 
	padding: 8px; 
	background-color: #d3ccda; 
	text-align: justify; 
	font-size: 14px; 
	width: 80px;
	box-shadow: 3px 4px 4px #6f6c6a; 
}
.popup-width{
	display: none; 
	position: absolute; 
	left: 100px; 
	top: 50px; 
	border: solid #d3ccda 1px; 
	padding: 8px; 
	background-color: #d3ccda; 
	text-align: justify; 
	font-size: 14px; 
	width: 100px;
	box-shadow: 3px 4px 4px #6f6c6a; 
}
.popup-close{
	position: absolute;
	top:1px;
	right:2px;
	font-weight:bold;
	line-height: 1;
	font-size: 75%;
	padding-right: .5em;
    padding-left: 0.5em;
    border-radius: 6rem;    
    color: #fff;
    background-color: #b697e0;
}

#resizable { width: 150px; height: 150px; padding: 0.5em; }
#resizable h3 { text-align: center; margin: 0; }

.node-mask {
    height: 68%;
    width: 18%;
    position: fixed;
    _position: absolute;
    top: 10%;
    margin-left: 40%;
    z-index: 999;
    overflow-y:auto;
}

.btn-secondary {
    color: #495057;
    background-color: #fff;
    border-color: #d3d8dc;
    width: 164px;
    height: 35px;
    text-align: left;
}

.dropdown-menu{
	max-height: 146px;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 0px;
    min-width:13rem;
}
.popup-form-group {
    margin-bottom: 0.8rem;
}

.show>.btn-secondary.dropdown-toggle {
    color: #7d8388;
    background-color: #f8f9fa;
    border-color: #ced4da;
}

.btn-secondary:hover {
    color: #7d8388;
    background-color: #fff;
    border-color: #d3d8dc;
    box-shadow: 0 0 0 0.1rem rgba(158,159,160,1);
}
 
/* ������У������� */
#node-error{
	color: red;
	font-size: 13px;
}

.supply-btn{
	position: relative;    
    background-color: #2d2bd8;
    text-align: left;
    font-size: 8px;    
    color:black;
    box-shadow: 1px 4px 4px #6f6c6a;
}

.page-btn {
    position: relative;
    display: block;
    padding: .5rem 1rem;
    margin-left: -1px;
    margin-right: 5px;
    line-height: .75;
    border-radius: .25rem;
    background-color: #039e22;
    border: 1px solid #58675b;    
    box-shadow: 3px 4px 4px #6f6c6a; 
}

.page-highlight-btn {
    position: relative;
    display: block;
    padding: .5rem 1rem;
    margin-left: -1px;
    margin-right: 5px;
    line-height: .75;
    border-radius: .25rem;
    background-color: #b1480c;
    border: 1px solid #8c3c0e;
    box-shadow: 3px 4px 4px #6f6c6a; 
}

.btn-confirm-dialog {
    position: relative;
    display: block;
    padding: .5rem 1rem;
    margin-left: -1px;
    margin-right: 10px;
    line-height: .75;
    border-radius: .25rem;
    background-color: #46a70a;
    border: 1px solid #46a70a;   
    box-shadow: 2px 3px 4px #6f6c6a; 
}

.ems-mask {    
    width: 18%;
    position: fixed;
    _position: absolute;
    top: 10%;
    margin-left: 80%;    
}

.span-highlight-btn{
	padding: 0px 4px 0px;
	margin-right: 6px;
	background: #fbea06;
    box-shadow: 3px 4px 4px #6f6c6a;
    border-radius: .15rem;
    cursor:pointer;
}
.span-btn{
	padding: 0px 4px 0px;
	margin-right: 6px;
	color:gray;
	background: #d6d2d0;
    border-radius: .15rem;
    cursor:pointer;
}

.btn-pointer{
	color: #965555;
    background-color: #09d438;
    display: inline-block;
    padding: .1em .1em;    
    font-weight: 700;
    line-height: 0.9;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.75rem;
    box-shadow: 3px 4px 4px #6f6c6a;
    cursor: pointer;
}

.btn-pointer:hover {
    color: #fff;
    background-color: #c7ad09;
    border-color: #ff3b00;
}

.btn-del-pointer{
	color: #fff;
    background-color: #dcd69a;
    display: inline-block;
    padding: .1em .1em;
    font-size: 72%;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    box-shadow: 3px 4px 4px #6f6c6a;
    cursor:pointer;
}

.btn-del-pointer:hover {
    color: #fff;
    background-color: #c7ad09;
    border-color: #ff3b00;
}

.btn-edit-pointer{
	color: #90790a;    
    display: inline-block;   
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;    
    cursor:pointer;
    font-size: 1.3rem;  
}

.form-element{
    padding: 0.275rem 0.3rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 14px;
    padding-right: 56px;
}

.line-bottom {
    overflow: auto;
    width: 100%;
    height: 0px;
    border-bottom: 1px solid #1c1d1d;
    position: absolute;
}
.small-btn{
	background-color:#42a288;
	box-shadow: 1px 4px 4px #6f6c6a;
	font-size: .8rem;
	border-radius: .3rem;
	margin-right: 6px;
	cursor:pointer;
}
.big-btn{
	background-color: #ec3106;
    box-shadow: 1px 4px 4px #6f6c6a;
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    color: white;
    padding: 2px 17px 4px;
}
.menu-icon{
	background-color:#e6e0ce;
	box-shadow: 1px 4px 4px #826a22;
	font-size: .7rem;
	border-radius: .3rem;
	cursor:pointer;
}
.menu-sel-font{
	background-color:#249024;
	box-shadow: 1px 4px 4px #826a22;
	padding-left:3px;
	padding-right:10px;
}

.half-circle {
    width: 338px;
    height: 179px;
    background-color:  #7b7070;;
    border-top-left-radius: 153px;
    border-top-right-radius: 165px;
    border: 10px solid  #7b7070;;
    border-bottom: 0;
    position:absolute;
    left:0px;
    bottom:0px;
}
.text-line {
    width: 140px;
    padding-top: 17px; /* font-size / 2  = (30/2=15) */
    border-bottom: solid 1px #000;
    float: left;    
}
.text {
    font-size: 23px;
    font-weight: bold;
    color: #000;
    float: left; 
}
.form-group-dialog{
	margin-bottom: .5rem
}

.draw-arrow {
    width:120px;
}

.draw-line {
    margin-top:14px;
    width:90px;
    background:blue;
    height:10px;
    float:left;
}
.draw-point {    
    width: 0;
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid blue;
    float:right;
}
.draw-down-line {
    width:70%;
}
.draw-down-line:after {
    content:'';
    position: absolute;
    border-style: solid;
    border-width: 7px 7px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: 8px;
    left: 45%;
}
.draw-down-line:before {
    content:'';
    position: absolute;
    border-style: solid;
    border-width: 7px 7px 0;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: 9px;
    left: 45%;
}

.error {
	color:#FF0000;	
}
