<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ideal.wfpf.dao.ActionMapper">
	<resultMap id="action" type="cn.ideal.wfpf.model.Action" />			
	
	<select id="findBtnAction" resultType="cn.ideal.wfpf.model.Action" >
		select * from workflow_action
		 where type in ('行为','行为消息','应答')
	</select>
			
	<select id="findWfAction" resultType="cn.ideal.wfpf.model.Action" >
		select * from workflow_action
		 where type='流程'
	</select>
	
</mapper>
