<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ideal.wfpf.dao.WorkflowMapper">
	<resultMap id="wfpfworkflow" type="cn.ideal.wfpf.model.WFPFWorkflow" >
		<id column="wfId" property="wfId" jdbcType="NUMERIC" />	
		<association property="tbLst" column="wfId" select="cn.ideal.wfpf.dao.TableMapper.findByWfId" />
	</resultMap>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="wfId" parameterType="cn.ideal.wfpf.model.WFPFWorkflow">
		insert into workflow(
			wfName,status,createdDate,type
		)
		values(
			#{wfName},			
			#{status},
			#{createdDate},
			'系统级'
		)
	</insert>
		
	<update id="update" parameterType="cn.ideal.wfpf.model.WFPFWorkflow">
		update workflow set 
			<if test="wfName != null">
				wfName = #{wfName} 
			</if>
			<if test="tbId != null">
				tbId = #{tbId} 
			</if>
			<if test="status != null">
				status = #{status} 
			</if>
			where wfId = #{wfId}
	</update>
	
	<update id="removeBinding" parameterType="java.lang.Long">
		update workflow set 			
			tbId = null 
			where wfId = #{wfId}
	</update>
	
	<select id="findAPage" resultMap="wfpfworkflow" parameterType="java.util.Map">
		select * from workflow	where type = '系统级' order by wfId 
		<if test="recordNumber != null ">
			LIMIT #{recordNumber},#{pageSize}
		</if>	
	</select>
	
	<select id="find" resultMap="wfpfworkflow" parameterType="java.lang.Long">
		select * from workflow where wfId = #{wfId}			
	</select>
	
	<select id="findAll" resultType="cn.ideal.wfpf.model.WFPFWorkflow">
		select * from workflow where type = '系统级'	
	</select>
		
	<select id="findAllBlindTable" resultType="cn.ideal.wfpf.model.WFPFWorkflow">
		select * from workflow	where tbId is not null;		
	</select>
	
	<delete id="delete" parameterType="java.lang.Long">
		delete from workflow 
		<where>		
		      wfId=#{wfId}		  	
		</where>
	</delete>
	
	<delete id="deleteTableElementOnNode" parameterType="java.lang.Long">
		delete from workflow_table_element where wfId = #{wfId}			
	</delete>
	
	<select id="findByWFName" resultMap="wfpfworkflow" parameterType="java.util.Map">
		select * from workflow where wfName=#{wfName} and wfId != #{wfId}
	</select>
</mapper>
