<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ideal.wfpf.dao.WorkflowMapper">
	<resultMap id="workflow" type="cn.ideal.wf.model.Workflow" >
		<id column="tbId" property="tbId" jdbcType="NUMERIC" />	
		<association property="wftableBrief" column="tbId" select="cn.ideal.wf.dao.WorkflowTableMapper.find" />
	</resultMap>			
	
	<insert id="save" useGeneratedKeys="true" keyProperty="wfId" parameterType="cn.ideal.wf.model.Workflow">
		insert into workflow(
			wfName,status,createdDate
		)
		values(
			#{wfName},			
			#{status},
			#{createdDate}
		)
	</insert>
		
	<update id="update" parameterType="cn.ideal.wf.model.Workflow">
		update workflow set 
			<if test="wfName != null">
				wfName = #{wfName} 
			</if>
			<if test="tbId != null">
				tbId = #{tbId} 
			</if>
			<if test="status != null">
				status = #{status} 
			</if>
			where wfId = #{wfId}
	</update>
	
	<update id="removeBinding" parameterType="cn.ideal.wf.model.Workflow">
		update workflow set 			
			tbId = null 
			where wfId = #{wfId}
	</update>
	
	<select id="findAPage" resultMap="workflow" parameterType="java.util.Map">
		select * from workflow	order by wfId 
		<if test="recordNumber != null ">
			LIMIT #{recordNumber},#{pageSize}
		</if>	
	</select>
	
	<select id="find" resultMap="workflow" parameterType="java.lang.Long">
		select * from workflow where wfId = #{wfId}			
	</select>
	
	<select id="findAll" resultMap="workflow">
		select * from workflow			
	</select>
		
	<select id="findAllBlindTable" resultMap="workflow">
		select * from workflow	where tbId is not null;		
	</select>
	
	<delete id="delete" parameterType="java.lang.Long">
		delete from workflow 
		<where>		
		      wfId=#{wfId}		  	
		</where>
	</delete>
	
	<select id="findAllWorkflowsByTbId" resultType="cn.ideal.wf.model.Workflow" parameterType="java.lang.Long">
		select * from workflow where tbId = #{tbId}
	</select>
</mapper>
